<%= form_for(@videosong) do |f| %>
  <% if @videosong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videosong.errors.count, "error") %> prohibited this videosong from being saved:</h2>

      <ul>
      <% @videosong.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url %>
  </div>
  <div class="field">
    <%= f.label :song_url %><br>
    <%= f.text_field :song_url %>
  </div>
  <div class="field">
    <%= f.label :likes %><br>
    <%= f.number_field :likes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
