<!DOCTYPE html>
<html>
<head>
  <title>Trillmix</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "theatre", media: "all" %>
  <%= javascript_include_tag "theatre" %>
  <%= csrf_meta_tag %>
</head>
  <body>
    <center>
    <h1>Trillmix videos<h1/>
    <div id="audio" style = 'display: none'></div>
    <div style = "width: 100%; height: 100%; text-align: center">
      <a href = "../" style = "display:block">
        home
      </a>
      <a href="javascript:history.go(0)" style = "display:block">
        again
      </a>
      <%
      #srand_gif = @gif
      #rand_gif = srand_gif.image_original_url
      %>
      <img src = "<%=@gif_url%>" style = "width: auto; height: 70%">
    </div>
    </center>
  </body>
</html>
</html>