<!DOCTYPE html>
<html>
<head>
  <title>Trillmix</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
  <body>
    <h1>Trillmix videos<h1/>
    <div id="player" style = 'display: none'></div>
    <div style = "width: 100%; text-align: center">
      <a href = "" style = "display: block">
        gif
      </a>
      <a href = "/static_pages/video_theatre" style = "display:block">
        video
      </a>
      <%
      rand_gif = Giphy.random
      rand_gif = rand_gif.image_original_url
      %>
      <img src = "<%=rand_gif%>" style = "width: 60%; height: auto">
    </div>
  </body>
</html>
</html>